
<div class="ties-win text-center">

  <h1 class="title text-center fs-1 fw-bold p-5">Tic Tac Toe</h1>

  <div class="d-flex justify-content-center p-5">
    <%= link_to 'Play a game!', new_game_path, class:"btn-orange btn btn-primary fs-1" %>
  </div>

</div>
