<div class="ties-win text-center">
  <h3 class="ties-win-title fs-6 fw-bold">WINS</h3>
  <p class="ties-win-number fs-3 fw-bold"> / 10</p>

</div>

<div class="container mb-5">
  <h1 class="title text-center fs-1 fw-bold my-5">Tic Tac Toe</h1>

  <div class="board">
      <div class="board_tile">
        <button class="board-btn"></button>
      </div>
        <div class="board_tile">
      <button class="board-btn"></button>
        </div>
      <div class="board_tile">
        <button class="board-btn"></button>
      </div>
      <div class="board_tile">
        <button class="board-btn"></button>
      </div>
      <div class="board_tile">
        <button class="board-btn"></button>
      </div>
      <div class="board_tile">
        <button class="board-btn"></button>
      </div>
      <div class="board_tile">
        <button class="board-btn"></button>
      </div>
      <div class="board_tile">
        <button class="board-btn"></button>
      </div>
      <div class="board_tile ">
        <button class="board-btn"></button>
      </div>
  </div>

  <h3 class="result text-center fs-2 fw-bold my-3">Result of the game </h3> <%# code ruby user.win %>

  <div class="d-flex justify-content-center">
    <%= link_to 'Play again!', new_game_path, class:"btn-orange btn btn-primary" %>
  </div>

</div>
